@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-black: #2b553e;
  --brand-navy: #36674d;
  --brand-navy-light: #4c8767;
  --brand-orange: #e0b875;
  --brand-gold: #f2ce8a;
}

body {
  background-color: var(--brand-black);
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--brand-black);
}
::-webkit-scrollbar-thumb {
  background: var(--brand-navy-light);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--brand-gold);
}

@layer components {
  .field-input {
    @apply w-full bg-brand-black border border-white/5 rounded-2xl p-4 text-sm outline-none focus:border-brand-orange transition-colors;
  }
}
